<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 20px;
            font-weight: bold;
            color: blue;
        }
        span {
            color: red;
        }
    </style>
</head>
<body>
   <p>First Name: <span>Abubakar</span></p> 
    <p>Last Name: <span>Diallo</span></p>
    <p>Favorite Food: <span>Pizza</span></p>
    <p>Favorit Vacation Destination: <span>Philipines, Manila</span></p>
</body>
</html>